.create-list-page {
  display: flex;
  justify-content: center;
  height: auto;
}

.list-form-container {
  min-width: 400px;
  padding: 40px;
  margin: 40px;
  background-color: var(--lightnavy);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.list-form-container h1 {
  margin: 0 0 30px;
  font-size: 2em;
}

.form-group {
  margin-bottom: 15px;
}

@media (max-width: 600px) {
  .list-form-container {
    padding: 30px;
    min-width: unset;
    width: 90%;
  }
  .list-form-heading {
    font-size: 1.5em;
  }
  button[type="submit"] {
    padding: 10px 40px;
  }
}
