.create-list-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #00173a;
}

.list-form-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #00173a;
  padding: 20px;
}

.list-form-container {
  width: fit-content;
  min-width: 400px;
  max-width: 90%;
  padding: 40px;
  background-color: #081f43;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.list-form-heading {
  margin: 0 0 30px;
  font-size: 2em;
  text-align: center;
  font-family: "Quattrocento", serif;
  color: #d9bd80;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  white-space: nowrap;
  flex-wrap: nowrap;
  width: auto;
}

.form-group {
  margin-bottom: 15px;
}

@media (max-width: 600px) {
  .list-form-container {
    padding: 30px;
    min-width: unset;
    width: 90%;
  }
  .list-form-heading {
    font-size: 1.5em;
  }
  button[type="submit"] {
    padding: 10px 40px;
  }
}
