.edit-item-page {
  display: flex;
  justify-content: center;
  height: auto;
}

.edit-item-container {
  width: 400px;
  padding: 40px;
  margin: 40px;
  background-color: var(--lightnavy);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.edit-item-container h1 {
  margin-bottom: 20px;
}

.edit-item-form-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

@media (max-width: 480px) {
  .edit-item-container {
    padding: 30px;
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .login-page {
    height: auto;
    padding: 40px 20px;
  }
}
