.list-landing-page {
  display: flex;
  justify-content: center;
  height: auto;
}

.list-landing-container {
  width: 90%;
  max-width: 600px;
  padding: 40px;
  text-align: center;
}

.list-landing-container .create-list-button {
  background: none;
  border: none;
  color: #d9bd80;
  font-family: "Quattrocento", serif;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
  margin: 20px 0px 10px 0px;
}

/* --- EMPTY CATEGORIES BOX ON DESKTOP --- */

.empty-categories {
  padding: 3rem;
  text-align: center;
  background-color: var(--lightnavy);
  border-radius: 8px;
  margin: 20px 0px;
}

/* --- MEDIA QUERIES --- */

@media (max-width: 600px) {
  .list-landing-container {
    padding: 20px;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .list-landing-container form input,
  .create-list-button {
    font-size: 14px;
    padding: 8px;
  }
}
