.login-page {
  display: flex;
  justify-content: center;
  height: auto;
}

.login-container {
  max-width: 400px;
  padding: 40px;
  margin: 40px;
  background-color: var(--lightnavy);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-container h1 {
  margin-bottom: 20px;
  display: inline-flex;
  align-items: center;
  font-size: 2rem;
}

.login-container h1 .header-flourish {
  font-size: 0.6em;
  margin: 0 5px;
}

.not-found-card h1 .flip-icon {
  transform: scaleX(-1);
  display: inline-block;
  font-size: 0.6em;
  margin: 0 5px;
}

.signup-text-container {
  display: flex; 
  align-items: center; 
  gap: 10px; 
  margin-top: 15px; 
  justify-content: center;
}

.login-page.logged-in {
  margin-top: 50px;
}

.login-page.logged-in .login-container {
  max-width: 600px; 
  padding: 60px;
  height: 350px;
}

/* Specific styles for the "Welcome back!" header */
.welcome-back-header {
  font-size: 2rem;
  color: var(--gold);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Adds spacing between the text and the flourishes */
}

/* Flourish styles for "Welcome back!" */
.welcome-back-header .header-flourish,
.welcome-back-header .flip-flourish {
  font-size: 1.2em;  /* Larger size for the flourishes */
}

.login-page.logged-in .login-container p {
  font-family: var(--body-font);
  font-size: 1em; /* Adjust the font size */
  color: var(--white);/* Change the text color */
  margin-top: 10px; /* Add some spacing above the paragraph */
  margin-bottom: 20px; /* Space out the paragraph from the buttons */
}

/* Button spacing */
.login-page.logged-in .login-container button {
  margin: 10px; 
  margin-top: 20px; /* Add some space around each button */
}

.login-page.logged-in .login-container button:first-of-type {
  margin-right: 20px; /* Adds space to the right of the 'Home' button */
}

.login-page.logged-in .login-container button:last-of-type {
  margin-left: 20px; /* Adds space to the left of the 'Log Out' button */
}

/* Additional responsive adjustments if needed */
@media (max-width: 480px) {
  .login-container {
    padding: 30px;
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .login-container {
    padding: 30px;
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .login-page {
    height: auto;
    padding: 40px 20px;
  }
}
