.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  text-align: center;
  position: relative;
}

.not-found-card {
  background-color: #081f43;
  border-radius: 10px;
  padding: 60px 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 700px;
  margin: 20px auto;
  text-align: center;
  color: #f8f8f8;
}

.not-found-card h1 {
  font-family: "Quattrocento", serif;
  font-size: 2rem;
  color: #d9bd80;
  margin-bottom: 15px;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.not-found-card h1 .icon {
  font-size: 0.6em;
  margin: 0 5px;
}

.not-found-card h1 .flip-icon {
  transform: scaleX(-1);
  display: inline-block;
  font-size: 0.6em;
  margin: 0 5px;
}

.not-found-card p {
  font-family: "Lato", sans-serif;
  color: #f8f8f8;
  font-size: 1.2rem;
  margin: 0;
  line-height: 1.5;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 25px;
  padding-top: 25px;
}

@media (max-width: 768px) {
  .not-found-card {
    padding: 15px 20px;
    max-width: 90%;
  }

  .not-found-card h1 {
    font-size: 2rem;
  }

  .not-found-card p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .not-found-card h1 {
    font-size: 1.5rem;
  }

  .not-found-card p {
    font-size: 0.9rem;
  }
}
