.signup-page {
  display: flex;
  justify-content: center;
  height: auto;
}

.signup-container {
  max-width: 400px;
  padding: 40px;
  margin: 40px;
  background-color: var(--lightnavy);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.signup-container h1 {
  margin-bottom: 20px;
  display: inline-flex;
  align-items: center;
  font-size: 2rem;
}

.signup-container h1 .header-flourish {
  font-size: 0.6em;
  margin: 0 5px;
}

.signup-container h1 .flip-icon {
 transform: scaleX(-1);
  display: inline-block;
  font-size: 0.6em;
  margin: 0 5px;
}

.login-text-container {
  display: flex; 
  align-items: center; 
  gap: 10px; 
  margin-top: 15px; 
  justify-content: center;
}

@media (max-width: 600px) {
  .signup-container {
    padding: 30px;
    margin: 20px;
  }
}