.add-item-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cancel-x {
  color: var(--white);
  align-self: flex-end;
}

.form-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.cancel-button {
  background-color: transparent;
  color: var(--gold);
  border: 1px solid var(--gold);
}

.cancel-button:hover {
  background-color: rgba(217, 189, 128, 0.1);
}

/* Error styles */
/* .add-item-form form input:invalid,
.add-item-form form textarea:invalid {
  border-color: #f8f8f8;
}

.error-message {
  color: #ff4d4d;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
  width: 100%;
} */

@media (max-width: 480px) {
  .add-item-form-container {
    padding: 30px;
    max-width: 90%;
  }

  .submit-button,
  .cancel-button {
    padding: 10px 40px;
    font-size: 14px;
  }

  .add-item-form h3 {
    font-size: 1.5em;
  }
}
